# Logs Apache
*.log
#logs error_db
logs/*.log

# Variables d'environnement et config sensible
.env
*.env.local

# Dépendances
node_modules/
vendor/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.vscode/
.idea/
*.swp
*.swo
